// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background {
	background-color: #EAEFD3;
	position: absolute;
	top: 0; 
	left: 0; 
	height: 100%; 
	width: 100%;
	text-align: center;
}

.main {
	background-color: #B3C0A4;
	display: inline-block;
	width: 90%;
	height: 100%;
}